<div class='container'>
<form action ="/session/create" method="POST" class="form-signin" id="form-signin">
<div class="row">
<div class='col-md-12' align='center'>
<h2>Sing In</h2>
</div>
</div>
<div class="row">
<div class='col-md-2'>
Username :
</div>
<div class='col-md-10'>
<input type="text" class="form-control" placeholder="User name" name="name" />
<span class="" for="name" id="spanName" aria-hidden="true"></span>
</div>
</div>
<br>
<div class="row">
<div class='col-md-2'>
Password :
</div>
<div class='col-md-10'>
<input type="password" class="form-control" placeholder="Password" name="password" />
<span class="" for="password" id="spanPassword" aria-hidden="true"></span>
</div>
</div>
<br>
<div class="row">
<div class='col-md-2'>
</div>
<div class='col-md-2'>
</div>
<div class='col-md-4'>
<input type="submit" class="btn btn-lg btn-primary btn-block" value="Sign-in" />
</div>
<div class='col-md-3'>
</div>
</div>

<input type="hidden" name="_csrf" value="<%= _csrf %>" />
</form>
</div>